# Created by .ignore support plugin (hsz.mobi)
# IntelliJ Idea Project Files
.idea
*.iml

# Maven
target/

# Eclipse
.project
.classpath
.settings/
database.*
derby.log

# Mac
.DS_Store

# logs
/logs/
